<!doctype html>
<html lang="en">
<head>
<title>Анкета</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<style>
	body {
		background-image: url(static/fractal.jpg);
		background-size: cover;
		bacground-color: #c7b39b;
	}
</style>
</head>

<body>
<br>
<div align="center"><h2>Заполните, пожалуйста, следующую анкету:</h2></div>

<form action="/answers1" method="GET">
<h5>
<ul>
<p><br>
	<p>Ваше имя / ваш псевдоним <input type="text" name="username" required placeholder="имя" pattern="[а-яА-Я]+"><p>
	<p>Ваш пол:
	<label class="radio-inline">
		<input type="radio" name="gender" value="m" required>мужской
		<input type="radio" name="gender" value="f">женский
	</label></p>
	<p>Вам <input type="number" name="age" value="" min="6" max="99" required pattern="[0-9]+"> лет/год<p>
	<p>Вашим родным языком является <input type="text" name="language" required placeholder="русский" pattern="[а-яА-Я]+"> язык</p>
	<p>Вы родились в городе <input type="text" name="city" required pattern="[а-яА-Я]+"></p>
	<p>Ваше образование:
	<select required name="education">
		<option value=""></option>
		<option value="0">(не)законченное начальное общее</option>
		<option value="1">(не)законченное среднее (полное) общее</option>
		<option value="2">(не)законченное среднее профессиональное</option>
		<option value="3">(не)законченное высшее</option>
	</select><p>
	<p>Вы получаете/получали ваше образование в городе <input type="text" name="city" required pattern="[а-яА-Я]+"></p>
	<p>Область вашей специализации
	<select required name="specialization">
		<option value=""></option>
		<option value="0">связана с русским языком</option>
		<option value="1">не связана с русским языком</option>
	</select>
	<p><button type="submit" class="btn btn-secondary">Отправить</button><p>
</p>
</ul>

</h5>
</form>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>