<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Статистика</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<style>
	body {
		background-image: url(static/new.jpg);
		background-size: cover;
		bacground-color: #c7b39b;
	}
</style>
</head>
<body><br>
<div align="center"><h2>Здесь хранятся все собранные данные</h2></div>

<table border="0" class="table table-bordered">
<h3>
<DD align="center">Таблица</DD>
</h3>
<thead align="center">
<tr class="table-active">

	<th class="active">ID</th>
	<th>username</th>
	<th>gender</th>
	<th>age</th>
	<th>language</th>
	<th>city</th>
	<th>education</th>
	<th>specialization</th>

</tr>
</thead>

{% for i in range(rows0 | length) %}
	<tr class="bg-info">
		<th>{{rows0[i][0]}}</th> 
		<td>{{rows0[i][1]}}</td> 
		<td>{{rows0[i][2]}}</td> 
		<td>{{rows0[i][3]}}</td> 
		<td>{{rows0[i][4]}}</td> 
		<td>{{rows0[i][5]}}</td> 
		<td>{{rows0[i][6]}}</td>
		<td>{{rows0[i][7]}}</td>
	</tr>

{% endfor %}
</table>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>