<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>JSON</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="shortcut icon" href="/static/fox.ico" type="image/x-icon">
<style>
	body {
		background-image: url(static/new.jpg);
		background-size: cover;
		background-color: #3670bd;
	}
</style>
</head>

<body>
<br>
<div align="center"><h2>Здесь хранятся все введённые данные в формате JSON</h2></div>

<table class="table table-bordered">

<DD align="center"><h3>JSON-овская Таблица</h3></DD>
<thead align="center">
<tr class="table-active">
	<th>JSON1</th>
	<th>JSON2</th>
	<th>JSON3</th>
</tr>
</thead>
	<tr class="bg-info">
		<td>{{json1}}</td>
		<td>{{json2}}</td>
		<td>{{json3}}</td>
	</tr>
</table>

</body>

</html>