<!DOCTYPE html>
<html lang="en">
<head>
<title>Поиск</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="shortcut icon" href="/static/fox.ico" type="image/x-icon">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
	body {
		background-image: url(static/dandelion.jpg);
		background-size: cover;
		background-color: #3670bd;
	}
</style>
<script>
	function getForm( elem ) {
		if ( elem.form ) return elem.form;
		var form = elem.parentNode;
		while ( form && form.nodeName.toLowerCase() != 'form' ) {
			form = form.parentNode;
		}
		return (elem.form = form);
	}
	
	function checkAll( oForm, reName, checked ) {
		if ( !oForm ) return;
		var inputList = oForm.getElementsByTagName("input");
		for ( var i = 0, elem; ( elem = inputList[i++] ); ) {
			if ( elem.type == 'checkbox' && reName.test( elem.name ) ) {
				elem.checked = checked;
			}
		}
	}
</script>
</head>

<body><br>

<form action="/answers4" method="GET">

<div class="container-fluid"><br>
    <div class="row" >
		<div class="col-xs-6 col-sm-11" style="margin:0 auto;">
			<div id="accordion" class="panel panel-primary behclick-panel">
				<div class="panel-heading">
					<font color="white"><h2 class="panel-title">Выберите параметры поиска:</h2></font>
				</div>
				<br>
				<div class="panel-body">
					<div class="panel-heading" >
						<h3 class="panel-title">
							<a data-toggle="collapse" href="#collapse0">
								<font color="black"><i class="indicator fa fa-caret-down" aria-hidden="true"></i> Склоняют или не склоняют?</font>
							</a>
						</h3>
					</div>
					<div id="collapse0" class="panel-collapse collapse in">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="checkbox" required>
									<label>
										<input type="checkbox" name="phrase" onclick="checkAll(this.form || getForm(this), /phrase/, this.checked)" checked>
										Выбрать все
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="phrase" value="city" checked>
										в городе X
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox" >
									<label>
										<input type="checkbox" name="phrase" value="countryside" checked>
										в деревне X
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox" >
									<label>
										<input type="checkbox" name="phrase" value="river" checked>
										на реке X
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox" >
									<label>
										<input type="checkbox" name="phrase" value="lake" checked>
										на озере X
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox" >
									<label>
										<input type="checkbox" name="phrase" value="island" checked>
										на острове X
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox" >
									<label>
										<input type="checkbox" name="phrase" value="state" checked>
										в штате X
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox" >
									<label>
										<input type="checkbox" name="phrase" value="mountain" checked>
										на горе X
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox" >
									<label>
										<input type="checkbox" name="phrase" value="sierra" checked>
										в горах X
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox" >
									<label>
										<input type="checkbox" name="phrase" value="peninsula" checked>
										на полуострове X
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox" >
									<label>
										<input type="checkbox" name="phrase" value="square" checked>
										на площади X
									</label>
								</div>
							</li>
						</ul>
					</div>
					<div class="panel-heading " >
						<h3 class="panel-title">
							<a data-toggle="collapse" href="#collapse1">
								<font color="black"><i class="indicator fa fa-caret-down" aria-hidden="true"></i> <font color="black">Пол</font>
							</a>
						</h3>
					</div>
					
					<div id="collapse1" class="panel-collapse collapse in" >
						<ul class="list-group">
							<li class="list-group-item">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="gender" value="m" checked>
										м
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox" >
									<label>
										<input type="checkbox" name="gender" value="f" checked>
										ж
									</label>
								</div>
							</li>
						</ul>
					</div>
					<div class="panel-heading " >
						<h3 class="panel-title">
							<a data-toggle="collapse" href="#collapse2">
								<font color="black"><i class="indicator fa fa-caret-down" aria-hidden="true"></i> Возраст<font>
							</a>
						</h3>
					</div>
					<div id="collapse2" class="panel-collapse collapse in" >
						<ul class="list-group">
							<li class="list-group-item">
								<div class="checkbox">
									<label>
										Левая граница: <input type="number" name="lage" value="6" min="6" max="99" required pattern="[0-9]+">
									</label>
									<label align="right">
										Правая граница: <input type="number" name="rage" value="99" min="6" max="99" required pattern="[0-9]+" >
									</label>
								</div>
							</li>
						</ul>
					</div>
					<div class="panel-heading" >
						<h3 class="panel-title">
							<a data-toggle="collapse" href="#collapse3">
								<font color="black"><i class="indicator fa fa-caret-down" aria-hidden="true"></i> Образование</font>
							</a>
						</h3>
					</div>
					<div id="collapse3" class="panel-collapse collapse in">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="education" value="0" checked>
										(не)законченное начальное общее
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="education" value="1" checked>
										(не)законченное среднее (полное) общее
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="education" value="2" checked>
										(не)законченное среднее профессиональное
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="education" value="3" checked>
										(не)законченное высшее
									</label>
								</div>
							</li>
						</ul>
					</div>
					<div class="panel-heading" >
						<h3 class="panel-title">
							<a data-toggle="collapse" href="#collapse4">
								<font color="black"><i class="indicator fa fa-caret-down" aria-hidden="true"></i> Специализация</font>
							</a>
						</h3>
					</div>
					<div id="collapse4" class="panel-collapse collapse">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="specialization" value="0" checked>
										журналист/филолог/лингвист/учитель русского языка
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox" >
									<label>
										<input type="checkbox" name="specialization" value="1" checked>
										другое
									</label>
								</div>
							</li>
						</ul>
					</div>
					<br><p><button type="submit" class="btn btn-secondary"><h3>Искать</h3></button></p>
				</div>
			</div>
		</div>
	</div>
</div>

</form>

<script async src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>